[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dynaconf = "*"
requests = "*"
psycopg2-binary = "*"
pygithub = "*"
glom = "*"
supabase = "*"
psycopg2 = "*"
torch = "*"
transformers = "*"
flask = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
